<div class="w-full h-full top-0 left-0 fixed bg-white">
    <div class="w-full h-full flex justify-center items-center">
        <h1 class="text-2xl text-danger">500 | Internal Server Error</h1>

        <p>
            <%= error %>
        </p>
    </div>
</div>