<nav class="w-full bg-primary py-5 flex justify-around">
    <a href="/" class="text-xl text-white mr-10 font-bold ml-10">Cat as a Service</a>

    <ul class="flex ml-10 items-center justify-center">
        <li>

            <a href="/"
                class=" px-5 py-3 text-md transition-all hover:text-white <%= title.toLowerCase().includes('cat') ? 'text-white' : 'text-gray-300' %>">Home</a>
        </li>

        <li>
            <a href="/about" class="text-gray-300 px-5 py-3 text-md transition-all hover:text-white">About</a>
        </li>

        <li>
            <a href="/contact" class="text-gray-300 px-5 py-3 text-md transition-all hover:text-white">Contact</a>
        </li>

        <li>
            <a href="/cats" class="text-gray-300 px-5 py-3 text-md transition-all hover:text-white">Cats</a>
        </li>

        <li>
            <a href="/docs" class="text-gray-300 px-5 py-3 text-md transition-all hover:text-white">Docs</a>
        </li>
    </ul>
</nav>