<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Cat as a Service</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body>

    <%- include('../partials/navbar') %>
        <%- body %>
            <script src="/js/main.js"></script>
</body>

</html>